<div class="root-container">
  <mat-action-list class="nav-items-container">
    @for (baseNavItem of baseNavItems; track $index) {
      <mat-list-item (click)="onClick(baseNavItem.route)">
        <mat-icon matListItemIcon>{{ baseNavItem.iconName }}</mat-icon>
        <span matListItemTitle>{{ baseNavItem.displayName }}</span>
      </mat-list-item>
    }
    <mat-divider></mat-divider>
    @for (therapistNavItem of therapistNavItems; track $index) {
      <mat-list-item (click)="onClick(therapistNavItem.route)">
        <mat-icon matListItemIcon>{{ therapistNavItem.iconName }}</mat-icon>
        <span matListItemTitle>{{ therapistNavItem.displayName }}</span>
      </mat-list-item>
    }
  </mat-action-list>
  <mat-divider vertical></mat-divider>
</div>
