@use '@angular/material' as mat;
@import '../../shared/style/variables.scss';
@import '../../../styles.scss';

.root-container {
  height: 100%;
  width: 100%;

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;

    .logo-image {
      height: 5rem;
      width: 5rem;
    }
  }

  .stepper {
    padding: 0 1rem;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
      max-width: 800px;
    }

    mat-form-field {
      width: auto !important;
    }

    .section-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin: 1rem 0;

      .add-button {
        align-self: flex-start;
      }

      .warn-button {
        color: mat.get-theme-color($fe-mental-health-chat-theme, error, 50);

        &:hover {
          background-color: mat.get-theme-color(
              $fe-mental-health-chat-theme,
              error,
              80
          );
        }
      }

      .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;


        .row {
          display: flex;
          gap: 0.5rem;

          .submit {
            width: fit-content;
          }
        }
      }

      .row-group {
        display: flex;
        gap: 0.5rem;

        mat-form-field {
          flex: 1;
        }
      }
    }

    // use for personal info
    .split-container {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }

      .avatar-container {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar-preview {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 0.5rem;
          border: 2px solid mat.get-theme-color($fe-mental-health-chat-theme, primary, 60);;
        }
      }

      .item-container {
        @extend .stepper, .section-container;
        flex: 3;
      }
    }
  }
}
