<div class="root-container">
  <div class="header-container">
    <img class="logo-image" src="assets/icons/angularGradient.png" />
    <h3>Create an account</h3>
  </div>

  <mat-stepper
    [orientation]="isMdBreakpoint ? 'horizontal' : 'vertical'"
    class="stepper"
    linear="true"
    #stepper
  >
    <mat-step [stepControl]="identityFormGroup">
      <form [formGroup]="identityFormGroup" class="section-container account-identity">
        <ng-template matStepLabel>Account identity</ng-template>
        <mat-form-field>
          <mat-label>User name</mat-label>
          <input matInput formControlName="userName" required />
          <mat-error *ngIf="identityFormGroup.get('userName')?.hasError('required')"
          >User name is required
          </mat-error
          >
          <mat-error *ngIf="identityFormGroup.get('userName')?.hasError('minlength')"
          >Password must be at least 8 characters
          </mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="identityFormGroup.get('email')?.hasError('email')"
          >Invalid email format
          </mat-error
          >
          <mat-error *ngIf="identityFormGroup.get('email')?.hasError('required')"
          >Email is required
          </mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="identityFormGroup.get('password')?.hasError('required')"
          >Password is required
          </mat-error
          >
          <mat-error *ngIf="identityFormGroup.get('password')?.hasError('minlength')"
          >Password must be at least 8 characters
          </mat-error
          >
        </mat-form-field>
      </form>
      <div>
        <button mat-button [disabled]="identityFormGroup.invalid" matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="personalInfoFormGroup">
      <div class="split-container">
        <form [formGroup]="personalInfoFormGroup" class="item-container">
          <ng-template matStepLabel>Personal information</ng-template>
          <div class="row-group">
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput class="item" formControlName="firstName" required />
              <mat-error
                *ngIf="personalInfoFormGroup.get('firstName')?.hasError('required')"
              >Required
              </mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput class="item" formControlName="lastName" required />
              <mat-error *ngIf="personalInfoFormGroup.get('lastName')?.hasError('required')"
              >Required
              </mat-error
              >
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error
              *ngIf="personalInfoFormGroup.get('dateOfBirth')?.hasError('required')"
            >Required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber" />
            <mat-error *ngIf="personalInfoFormGroup.get('phoneNumber')?.hasError('pattern')"
            >Invalid phone number
            </mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="gender" required>
              <mat-option>-- None --</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender.key">{{
                  gender.value
                }}
              </mat-option>
            </mat-select>
            <mat-label>Gender</mat-label>
            <mat-error>Required field</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Biography</mat-label>
            <textarea
              formControlName="bio"
              matInput
              placeholder="Informative information about you"
            ></textarea>
          </mat-form-field>
        </form>
        <div class="avatar-container">
          <img [src]="previewUrl" class="avatar-preview" />
          <button mat-button (click)="triggerFileInput()">Select Avatar</button>
          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="personalInfoFormGroup.invalid">
          Next
        </button>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Therapist information</ng-template>
        <app-therapist-information-input
          [allIssueTags]="allIssueTags"
          [selectedIssueTags]="selectedIssueTags"
          [educations]="educations"
          [certifications]="certifications"
          [experiences]="experiences"
          [description]="description"
          [isTherapist]="isTherapist"
          (selectedIssueTagsChange)="onSelectedIssueTagsChange($event)"
          (educationsChange)="onEducationsChange($event)"
          (certificationsChange)="onCertificationsChange($event)"
          (experiencesChange)="onExperiencesChange($event)"
          (descriptionChange)="onDescriptionChange($event)"
          (isTherapistChange)="onIsTherapistChange($event)"
        ></app-therapist-information-input>
      @if (error) {
        <app-error-display [error]="error!"></app-error-display>
      }
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          (click)="onRegisterClick(stepper)"
          [disabled]="!registrable()"
        >
          Register
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <button mat-button (click)="onFinishClick()">Navigate back to login</button>
    </mat-step>
  </mat-stepper>
</div>
