@use '@angular/material' as mat;
@import '../../../../../styles.scss';

mat-dialog-content {
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    mat-form-field {
      width: 100%;
    }
  }
}

mat-dialog-actions {
  .spacer {
    flex: 1 1 auto;
  }

  .warn-button {
    color: mat.get-theme-color(
        $fe-mental-health-chat-theme,
        error
    );

    &:hover {
      background-color: mat.get-theme-color(
          $fe-mental-health-chat-theme,
          error-container
      );
    }
  }
}
