<h2 mat-dialog-title>Rate therapist</h2>
<mat-dialog-content>
  <div class="content">
    <div class="therapist-info">
      <img [ngSrc]="data.therapist.avatarName! | parseAvatarUrl: data.therapist.gender"
           width="30" height="30" class="avatar" alt="avatar">
      <span>{{ data.therapist.fullName }}</span>
    </div>
    <form [formGroup]="reviewForm">
      <app-star-rating formControlName="rating"></app-star-rating>
      <mat-form-field [appearance]="data.id ? 'outline' : 'fill'">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-error *ngIf="reviewForm.get('comment')?.hasError('required')">
          Comment is required
        </mat-error>
        <mat-error *ngIf="reviewForm.get('comment')?.hasError('minlength')">
          Comment must be at least 16 characters
        </mat-error>
        <mat-error *ngIf="reviewForm.get('comment')?.hasError('maxlength')">
          Comment must be at most 500 characters
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  @if (isSubmitting) {
    <mat-spinner diameter="20"></mat-spinner>
  }
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [disabled]="reviewForm.invalid || isSubmitting" (click)="onSubmitClick()">Submit</button>
</mat-dialog-actions>
