<mat-toolbar class="toolbar-container">
  <button mat-icon-button (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Mental health app</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="unreadNotificationsCount" [matBadgeHidden]="unreadNotificationsCount === 0">inbox</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="menu-container">
      @if (!notificationLoading && (notifications$ | async)?.length === 0) {
        <span style="padding-left: 4px">No notifications</span>
      }

      @for (notification of notifications$ | async; track notification.id) {
        <div mat-menu-item class="notification" (click)="markNotificationAsRead(notification)">
          <div [ngClass]="{unread: !notification.isRead, read: notification.isRead}">{{ notification.title }}</div>
          <div class="mat-label-small">{{ notification.createdAt | date: "short" }}</div>
        </div>
      }
    </div>
  </mat-menu>
  <button mat-icon-button (click)="onLogoutClick()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
