@use '@angular/material' as mat;
@import '../../../styles.scss';

.toolbar-container {
  background-color: mat.get-theme-color($fe-mental-health-chat-theme, primary, 90);
}

.app-title {
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.app-title {
  margin-left: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
}
