<div class="root-container">
  @if (isLoggingIn) {
    <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
  }
  <div class="content-container">
    <!-- Logo -->
    <img class="logo-image" src="assets/icons/angularGradient.png" />
    <!-- The login section -->
    <div class="login-section">
      <!-- Left/Top section -->
      <div class="first-section">
        <h2>Sign in</h2>
        <p>Use your account</p>
      </div>

      <!-- Right/Middle section -->
      <div class="second-section">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          <mat-form-field appearance="outline" class="text-input-item">
            <mat-label>User name</mat-label>
            <input matInput formControlName="userName" />
            <mat-error *ngIf="loginForm.get('userName')?.hasError('required')"
              >User name is required</mat-error
            >
            <mat-error *ngIf="loginForm.get('userName')?.hasError('minlength')"
            >User name should be at least 8 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="text-input-item">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
              >Password is required</mat-error
            >
          </mat-form-field>
          <mat-error class="mat-body-small" *ngIf="loginForm.get('password')?.hasError('passwordRequirements')">
            Password should contain at least 8 characters, 1 uppercase letter, 1 number, and 1 symbol
          </mat-error>
          @if (serverError) {
            <mat-error>{{ serverError }}</mat-error>
          }
          <div class="actions">
            <a mat-button>Forgot password?</a>
            <button mat-flat-button type="submit" [disabled]="loginForm.invalid" >Log in</button>
          </div>
        </form>

        <div mat-label-medium class="register-section">
          <span>Don't have an account?</span>&nbsp;
          <span class="register-link" (click)="onRegisterClick()"
            ><strong>Create one</strong></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>User name</th>
          <th>Password</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mat-label-medium">john.doe, johnny.dang</td>
          <td class="mat-label-medium">Password&#64;123</td>
          <td class="mat-label-medium">User</td>
        </tr>
        <tr>
          <td class="mat-label-medium">michael.chen, emily.rodriguez, david.williams, amanda.patel</td>
          <td class="mat-label-medium">Password&#64;123</td>
          <td class="mat-label-medium">Therapist</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
