@use '@angular/material' as mat;
@import '../../shared/style/variables.scss';
@import '../../../styles.scss';

.root-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; // Ensure it is above other content
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .logo-image {
      height: 9rem;
      width: 9rem;
      align-self: flex-start;
    }

    .login-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        gap: 4rem;
      }

      .first-section {
        display: flex;
        flex-direction: column;
      }

      .second-section {
        display: flex;
        width: 300px;
        flex-direction: column;

        .form {
          display: flex;
          flex-direction: column;
          gap: 0.275rem;

          .text-input-item {
            width: 100%;
          }
        }

        .actions {
          margin-top: 0.5rem;
          display: flex;
          justify-content: end;
          gap: 0.5rem;
        }

        .register-section {
          margin-top: 1rem;
          display: flex;
          justify-content: center;

          .register-link {
            color: mat.get-theme-color(
              $fe-mental-health-chat-theme,
              primary,
              50
            );
            cursor: pointer;
          }
        }
      }
    }
  }
}
