<div class="root-container">
  <div class="content">
    <p class="mat-title-large">Re-enter old password and enter your new password</p>
    <form #formGroupDirective="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(form, formGroupDirective)">
      <mat-form-field appearance="outline">
        <mat-label>Old password</mat-label>
        <input matInput type="password"  formControlName="oldPassword" required />
        <mat-error *ngIf="form.get('oldPassword')?.errors?.['required']"
        >Field required
        </mat-error
        >
        <mat-error *ngIf="form.get('oldPassword')?.hasError('minlength')">
          Should be at least 8 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput type="password"  formControlName="newPassword" required />
        <mat-error *ngIf="form.get('newPassword')?.errors?.['required']"
        >Field required
        </mat-error
        >
        <mat-error *ngIf="form.get('newPassword')?.errors?.['samePreviousPassword']">
          New password cannot be the same as your current password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm new password</mat-label>
        <input matInput type="password"  formControlName="confirmPassword" required />
        <mat-error *ngIf="form.get('confirmPassword')?.errors?.['required']"
        >Field required
        </mat-error
        >
        <mat-error *ngIf="form.get('confirmPassword')?.errors?.['passwordMismatch']">
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <mat-error class="mat-body-small" *ngIf="form.get('newPassword')?.errors?.['passwordRequirements']">
        Password must contain at least 8 characters, 1 uppercase letter, 1 number, and 1 symbol
      </mat-error>
      <button mat-button type="submit"
              [disabled]="!form.valid">
        Submit
      </button>
    </form>
    @if (error) {
      <app-error-display [error]="error"></app-error-display>
    }
  </div>
</div>
